<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="android.edu.intro"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Login"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name=".game.sudoku"></activity>
<activity android:name=".Map.MapStart"></activity>
<activity android:name=".func.Reg"></activity>
<uses-library android:name="com.google.android.maps"></uses-library>
<activity android:name=".game.enter"></activity>
<activity android:name=".game.Counseling"></activity>
<activity android:name=".game.GameChoice"></activity>
<activity android:name=".game.Climb2"></activity>
<activity android:name=".game.guest"></activity>
<activity android:name=".game.Hamster.Hamster"></activity>
<activity android:name=".game.quiz"></activity>
<activity android:name=".game.Slots"></activity>
<activity android:name=".game.TicTacToe"></activity>
<activity android:name=".func.menu"></activity>
</application>
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7" android:maxSdkVersion="16"/>

<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>
</manifest> 